#panel-div {
    height: 100%;
    overflow: hidden;
}

#content-div {
  height: 100%;

  display: flex;
  flex-direction: row;
}

#sidebar-menu {
  flex: 0 1 130px;

  border-right: 1px solid lightgray;
  padding: 1em 1.3em;

  display: flex;
  flex-direction: column;
  align-items: start;
}

#table-div {
  overflow-y: auto;
  flex: 1;

  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#entry-table {
  width: 100%;
}

.hidden-decimal {
  visibility: hidden;
}

th {
  text-align: center;
}

.entry-buttons-div {
    margin: 0 0.25em 0 1em;
}

.entry-button {
  /* Make button look like a link. */
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  /*text-decoration: underline;*/
  cursor: pointer;
}

.entry-button-for-table {
  font-size: 90%;
}

.entry-button-for-sidebar {
  color: black;
  margin-bottom: 0.5em;
}

.entry-button-separator {
    margin: 0 4px 0 5px;
}
